<link rel="stylesheet" href="~/css/Pitch.css" />


<div class="card border-secondary text-light mb-3 ">
	<div class="card-header text-center text-light border-light bg-dark"><h1><b>Boisko Orlik Stadion Ludowy</b></h1></div>
	<div class="bg-dark">
		<div class="row">
			<div class="col-md-6">
				<img class="card-img" src="~/images/Kresowa.jpg" />
			</div>
			<div class="col-md-6 text-center">
				<h3><b>Informacje o obiekcie</b></h3>
				<hr />
				<div class="informations">
					<p><b><big>Ulica:</b><u> ul.Kresowa 1</big></u></p>
					<p><b><big>Miasto:</b><u> Sosnowiec</big></u></p>
					<br />
					<div class="row">
						<div class="col-md-6">
							<p><b>NAWIERZCHNIA: </b>TRAWA SZTUCZNA</p>
						</div>
						<div class="col-md-6">
							<p><b>OŚWIETLENIE: </b>TAK - PŁATNE</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr />
		<div class="card text-center">
			<div class="card-header">
				<ul class="nav nav-tabs card-header-tabs">
					<li class="nav-item" id="Info">
						<a class="nav-link active" href="#"><p><big><b>Komentarze</b></big></p></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#"><p><big><b>Rezerwacje</b></big></p></a>
					</li>
				</ul>
			</div>
			<div class="card-body">
				<h2>No comments yet.</h2>
			</div>
		</div>
	</div>
<br />