<link rel="stylesheet" href="~/css/PageNotFound.css" />
<meta charset="utf-8">

<div class="card">
    <div class=" container-fluid text-center">
        <h1><big><b>404</b></big></h1>
        <h4>Oops! Strona nie znaleziona</h4>
        <h5>Przepraszamy, ale strona której szukasz, nie została odnaleziona. Upewnij się, że wpisałeś prawidłowy adres URL.</h5>
        <img src="~/images/PikatchuMeme.png" class="customImage">
    </div>
</div>