<div class="row">
    <div class="col-lg-6">
        <div class="form-group ">
            <label for="example-datetime-local-input" class="col-lg-6 col-form-label">Początek rezerwacji</label>
            <div class="col-10">
                <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input">
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group ">
            <label for="example-datetime-local-input" class="col-lg-6">Koniec rezerwacji</label>
            <div class="col-10">
                <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input">
            </div>
        </div>
    </div>
</div>