@model Pitchball.Infrastructure.Commands.Account.CreateAccount

@{
    ViewData["Title"] = "User Edit";
}
@section Styles{
    <link rel="stylesheet" href="~/css/UserPanelEdit.css" />

}
<div class="card-header text-center">
    <h3>Zmiana hasła</h3>
</div>
<div class="form-row">
    <div class="form-group col-md-6">
        <label for="inputEmail4">Stare hasło</label>
        <input type="text" asp-for="Name" class="form-control" id="oldpassword">
        <label for="inputEmail4">Nowe hasło</label>
        <input type="text" asp-for="Name" class="form-control" id="oldpassword">
        <label for="inputEmail4">Potwierdź nowe hasło</label>
        <input type="text" asp-for="Name" class="form-control" id="oldpassword">
    </div>
    <div class="form-group col-md-6 text-center ">
        <img src="~/images/Question.png" style="max-height:200px; max-width:200px; margin-top:1%" alt="Question" />
        <p>Jeśli nie pamiętasz swojego starego hasła i chciałbyś je zmienić możesz to zrobić <a href="@Url.Action("contact", "Home")">TUTAJ</a></p>

    </div>
</div>
<hr />
<br />
<button type="submit" class="btn btn-success">Zapisz zmiany</button>