@{
	ViewData["Title"] = "Captain Registration";
}

<style>
	<link rel="stylesheet" href="~/css/RegisterCaptainWithTeam.css" / >
</style>

	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header text-success">
					<b><h2>Kapitan</h2></b>
				</div>
				<div class="card-body">
					<form method="post">
						<h4 class="text-success">Dane Osobowe</h4>
						<hr />
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="inputLogin">Login</label>
								<input type="text" class="form-control" id="inputAddress" placeholder="Login" required>
							</div>
							<div class="form-group col-md-6"></div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="inputEmail4">Imię</label>
								<input type="text" class="form-control" id="inputEmail4" placeholder="Jan" required>
							</div>
							<div class="form-group col-md-6">
								<label for="inputPassword4">Nazwisko</label>
								<input type="text" class="form-control" id="inputPassword4" placeholder="Kowalski" required>
							</div>
						</div>

						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="inputPassword">Hasło</label>
								<input type="password" class="form-control" id="inputPassword" placeholder="Hasło" required>
							</div>
							<div class="form-group col-md-6">
								<label for="inputConfirmPassword">Potwierdź hasło:</label>
								<input type="password" class="form-control" id="inputPassword4" placeholder="Powtórz hasło" required>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="inputEmail">Email</label>
								<input type="email" class="form-control" id="inputEmail" placeholder="example@mail.com" required>
							</div>
						</div>
						<div class="form-group">
							<label>Data urodzenia</label>
							<input type="date" class="form-control" id="exampleInputDOB1" placeholder="Data urodzenia" required>
						</div>
						<hr />

						<h4 class="text-success">Dane Drużyny</h4>
						<hr />


						<div class="form-group">
							<label>Nazwa drużyny</label>
							<input type="text" class="form-control" id="exampleInputDOB1" placeholder="Nazwa drużyny" required>
							<small><small>Po utworzeniu konta, w panelu użytkownika można dokonać edycji drużyny.</small></small>
						</div>
						<hr />
						<div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input" id="customCheck1" required>
							<label class="custom-control-label" for="customCheck1">
								<b>
									Oświadczam, że znam i akceptuję postanowienia
									<a href="@Url.Action("regulations", "Home")">Regulaminu Pitchball.</a>
								</b>
							</label>
						</div>
						<br />
						<button type="submit" class="btn btn-success">ZAREJESTRUJ</button>
					</form>

				</div>
			</div>
		</div>
	</div>