<div class=" card ">
    <h1 class="text-center">Regulamin korzystania z aplikacji internetowej <br /><b>Pitchball</b></h1>
    <hr />

    <ol>
        <li><p>Właścicielem boisk które znajdują się w aplikacji jest powiat Sosnowiec.</p></li>
        <li><p>
    Korzystanie z obiektów może być odpłatne dla użytkowników boiska. Rezerwacji dokonujemy dopiero
    po uprzednim ustaleniu tego z właścicielem obiektu.
</p>
        </li>
        <li>
            <p>
                Obiekty przeznaczone są do gry w <b>piłkę nożną.</b>
            </p>
        </li>
        <li>
            <p>Maksymalny czas rezerwacji wynosi 2 godziny, wszystkie rezerwacje powyżej 2 godzin będą usuwane z systemu.</p>
        </li>
        <li>
            <p>
                Jeden użytkownik może zarezerwować dziennie maksymalnie 2 boiska. W przypadku większej ilości rezerwacji przez danego użytkownika, administrator ma prawo do usunięcia innych rezerwacji
                i pozostawienia tylko 2 ostatnich rezerwacji.
            </p>
        </li>
        <li><p>Dwukrotne niestawienie się na zarezerwowanym obiekcie i nie odwołanie swoich rezerwacji skutkuje usunięcięm konta</p></li>
        <li><p>Rezerwacji mogą dokonywać tylko kapitanowie.</p></li>
        <li><p>Odwołanie rezerwacji jest dostępne w panelu kapitana.</p></li>
        <li>
            <p>
                Kapitanowie, oraz użytkownicy mogą korzystać z prawa kometowania pod każdym
                z boisk w razie gdyby uległo ono uszkodzeniu/ zalaniu/ braku możliwości rozgrywania spokań.
            </p>
        </li>
        <li><p>Kapitanowie, oraz użykownicy mogą korzystać z ogólnodostępnego czatu, który znajduję się w zakładce "Czat".</p></li>
        <li><p>W razie jakichkolwiek pytań prosimy o kontakt poprzez zakładkę "Kontak", odpowiedź otrzymacie na e-maila podanego w zgłoszeniu.</p></li>
        <li>
            <p>
                <big>
                    <b>
                        Nie przestrzeganie powyższego regulaminu może spowodować przerwanie gry i  wyproszenie
                        grupy z boiska oraz brak możliwości korzystania z boiska dla danej grupy w przyszłosci.
                    </b>
                </big>
            </p>
        </li>
    </ol>
</div>
