html {
    margin: 0;
    height: 100%;
    overflow-y:scroll;
}

body {
    background-image: url(../images/layout/pitch-grass.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    position:relative;
    height: 100%;
    margin: 0;
    overflow:no-display;
}
.navbar {	
	font-size:20px;
}
.navbar-brand {
	margin-left: 1%;
}
#container {
    background-color: rgba(152, 193, 116, 0.50);
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100%;
    margin-top: 5%;
    padding-top: 1%;
}

.center {
	text-align: center;
	margin-left:65%;
	
}
.cardio {
	text-align:center;
	padding:10px;
	background-color:transparent;
}
.carousel-item img {
	width: 100%;
}
.logo {
    color:seagreen;
}
.card {
	margin: 3%;
    background:transparent;
    border:none;
}
