
body {
	background-color: #E8E8E8;
	margin-top: 0.9%;
	padding-top: 50px;
	padding-bottom: 20px;
}

.navbar
{	
	padding:0.1px;
	font-size:20px;
}
.navbar-brand {
	margin-left: 1%;
}
.body-content {
	margin-top: 5%;
}

footer {
	background-color: #212529;
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px; /* Wysokość nagłówka */
	color:white;
}

.center {
	text-align: center;
	margin-left:65%;
	
}
.cardio{
	text-align:center;
	padding:10px;
	background-color:white;
}
.carousel-item img {
	width: 100%;
}
.logo 
{
color:seagreen;
}
.card {
	margin: 3%;
	background-color: white;
}
