
.card{
	opacity:0.9;
}
.card-img {
margin:1%;
border:2px solid;
}
.informations{
font-size:22px;
}
a {
	color: black;
}
table.no-spacing {
    border-spacing: 0; /* Removes the cell spacing via CSS */
    border-collapse: collapse; /* Optional - if you don't want to have double border where cells touch */
}
@media screen and (max-width: 1000px) {
    .table {
        font-size: 12px;
    }

    .hidden {
        display: none;
    }
    .smaller{
        font-size:8px;
    }
    .button{
        font-size:8px;
    }
}
@media screen and (max-width: 800px) {
    .table {
        font-size: 9px;
    }
    .tabNav {
        font-size: 13px;
    }
    .hidden {
        display: none;
    }
}