
.imges {
    max-height: 300px;
    max-width: 300px;
}
@media screen and (max-width: 900px) {
    .table {
        font-size: 15px;
    }

    .hidden {
        display: none;
    }
}
#comment{
 
    max-height:1920px;
    max-width:1000px;
}
.comment{
   
   
    margin-bottom:1%;
    margin-top:1%;
    border:none;

}
